<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-links-container">
      <ul class="footer-links">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/archive/' | relative_url }}">Archive</a></li>
      </ul>
      <ul class="footer-social-links">
        <li>
          <a href="https://bsky.app/profile/laurentfourier.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a>
        </li>
      </ul>
    </div>
    <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}. All rights reserved.</p>
  </div>
</footer> 